<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/navbar.ejs") %>

    <h1>All Cars</h1>
    <a href="/car/new" class="add-car">Add Car</a>

    <ul>
      <% cars.forEach((car) => { %>
      <li>
        <a href="/cars/<%= fruit._id %>"></a>
        <%= car.name %>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
